@import "../../../utils/theme.scss";

.BooksCategory {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  padding-top: 10px;
  padding-bottom: 10px;

  h1 {
    font-size: $titleSize;
    font-weight: 600;
    color: $secondaryColor;
    font-size: 16px;
  }

  .BooksScroller {
    max-width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 30px;
    margin-top: 10px;
    overflow-x: hidden;
    overflow-y: hidden;

    transition: 0.2s;

    &:hover {
        overflow-x: auto;
        transition: 0.2s;
    }

    .BooksScrollerBook {
      display: flex;
      flex-direction: column;
      border-radius: 5px;
      padding-top: 20px;
      padding-bottom: 10px;
      margin-bottom: 10px;

      .BookImage {
        width: 140px;
        height: 180px;
        background-color: $secondaryColor;
        border-radius: 5px;
        background-position: center;
        background-size: cover;
      }

      .BookInfo {
        margin-top: 10px;
        margin-bottom: 10px;

        h2 {
          color: $textColor;
          font-weight: 500;
          font-size: 14px;
          margin-bottom: -5px;
        }

        span {
          font-size: 12px;
          color: $secondaryColor;
        }
      }

      transition: 0.2s;

      &:hover {
        background-color: $containerColor;
        padding: 20px;
        padding-bottom: 10px;
        transition: 0.2s;
      }
    }
  }
}
