@import "../../utils/theme.scss";
.SearchModal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba($color: #000000, $alpha: 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  z-index: 1000;

  .SearchModalContent {
    width: 50%;
    max-height: 40%;
    background-color: $containerColor;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 5px;
    cursor: default;

    .SearchModalInput {
      display: flex;
      flex-direction: row;
      align-items: center;
      color: $textColor;
      font-size: 24px;
      input {
        flex: 1;
        height: 50px;
        border-radius: 5px;
        background-color: $containerColor;
        color: $textColor;
        font-size: 16px;
        padding-left: 10px;
      }

      .SearchModalInputClear {
        background-color: $secondaryColor;
        width: 24px;
        height: 24px;
        font-size: 14px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        cursor: pointer;
        color: $containerColor;

        transition: 0.2s;

        &:hover {
          background-color: $backgroundColor;
          color: $secondaryColor;

          transition: 0.2s;
        }
      }
    }
  }
}
