@import "../../../utils/theme.scss";

.Leftbar {
  width: 15%;
  min-width: 250px;
  height: 100%;
  background-color: $containerColor;
  display: flex;
  flex-direction: column;
  overflow-y: auto;

  .ProfileInfos {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 20px;

    .ProfileInfosImage {
      width: 60px;
      height: 60px;
      background-color: $secondaryColor;
      background-image: url("https://ui-avatars.com/api/?name=Salim+regragui");
      background-position: center;
      background-size: cover;
      border-radius: 5px;
      margin-right: 10px;
    }

    .ProfileInfosRight {
      display: flex;
      flex-direction: column;
      justify-content: center;
      h1 {
        font-weight: 500;
        color: $textColor;
        font-size: 12px;
        margin-bottom: 2px;
      }

      a {
        font-size: 13px;
        color: $primaryColor;
        font-weight: 500;

        transition: 0.2s;

        &:hover {
          color: $secondaryColor;

          transition: 0.2s;
        }
      }
    }

    border-bottom: 1px solid $dividerColor;
  }

  .LeftBarCategories {
    flex: 1;
    overflow-y: auto;
  }

  .LeftbarCategory {
    display: flex;
    flex-direction: column;
    padding-top: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid $dividerColor;
    gap: 15px;

    &:last-child {
        border-bottom: 0;
    }
  }

  .LeftBarResume {
    display: flex;
    flex-direction: column;
    padding: 20px;
    border-top: 1px solid $dividerColor;

    h3 {
      font-size: 13px;
      font-weight: 500;
      color: $secondaryColor;
    }

    .LeftBarResumeLink {
      display: flex;
      flex-direction: row;
      flex: 1;
      margin-top: 10px;
      min-height: 110px;

      .LeftBarResumeImage {
        height: 100%;
        width: 40%;
        border-radius: 5px;
        background-color: $secondaryColor;
        background-image: url("https://upload.wikimedia.org/wikipedia/en/thumb/9/90/One_Piece%2C_Volume_61_Cover_%28Japanese%29.jpg/220px-One_Piece%2C_Volume_61_Cover_%28Japanese%29.jpg");
        background-position: center;
        background-size: cover;
      }

      .LeftBarResumeData {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-left: 10px;

        .LeftBarResumeDataManga {
          margin-bottom: 10px;
          h4 {
            color: $textColor;
            font-weight: 600;
            font-size: 13px;
            margin-bottom: -8px;
          }

          span {
            font-weight: 500;
            font-size: 12px;
            color: $primaryColor;
          }
        }

        span {
          font-weight: 600;
          font-size: 13px;
          color: $errorColor;
        }
      }

      transition: 0.2s;
      border-radius: 5px;

      &:hover {
        padding: 10px;
        background-color: $backgroundColor;
        transition: 0.2s;
      }
    }
  }
}
