@import "../../utils/theme.scss";

.Layout {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    background-color: $backgroundColor;

    .content {
        flex: 1;
    }
}