@import "../../utils/theme.scss";

.Library {
  width: 100%;
  max-width: 100%;
  height: calc(100% - $headerHeight);
  max-height: calc(100% - $headerHeight);
  display: flex;
  flex-direction: column;
  background-color: $backgroundColor;
  overflow-x: hidden;
  overflow-y: auto;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 20px;
  padding-bottom: 20px;

  .LibraryManagementHeader {
    width: 100%;
    min-height: 60px;
    background-color: $containerColor;
    border-radius: 5px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
  }

  .LibraryBooks {
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    flex-flow: row wrap;
    justify-content: space-between;
    gap: 20px;

    .LibraryBooksItem {
      display: flex;
      flex-direction: column;
      border-radius: 5px;
      flex: 0 1 15%;
      padding: 20px;
      padding-bottom: 0px;

      .BookImage {
        width: 140px;
        height: 180px;
        background-color: $secondaryColor;
        border-radius: 5px;
        background-position: center;
        background-size: cover;
      }

      .BookInfo {
        margin-top: 10px;
        margin-bottom: 10px;

        h2 {
          color: $textColor;
          font-weight: 500;
          font-size: 14px;
          margin-bottom: -5px;
        }

        span {
          font-size: 12px;
          color: $secondaryColor;
        }
      }

      transition: 0.2s;

      &:hover {
        background-color: $containerColor;
        transition: 0.2s;
      }
    }
  }
}
