//COLORS
$backgroundColor: #181818;
$primaryColor: #bb86fc;
$secondaryColor: #03dac6;
$errorColor: #cf6679;
$containerColor: #212121;
$textColor: #ffffff;
$dividerColor: #2f2f2f;

//FONT SIZES
$titleSize: 22px;

//SIZES
$headerHeight: 80px;