@import "../../utils/theme.scss";

.ProfileSelection {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: $backgroundColor;

  .WelcomeText {
    font-weight: 600;
    color: $textColor;
    font-size: $titleSize;
  }

  .AvailableProfiles {
    display: flex;
    flex-direction: row;
    gap: 50px;
    margin-top: 40px;
  }
}
