@import "../../../utils/theme.scss";
.Header {
    width: 100%;
    height: $headerHeight;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-left: 30px;
    padding-right: 30px;

    h1 {
        color: $textColor;
        font-size: $titleSize;
        font-weight: 700;
        flex: 0.9;
    }

    .HeaderContent {
        flex: 1.1;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }
}