@import "../../../utils/theme.scss";

.ProfileBox {
  display: flex;
  flex-direction: column;
  align-items: center;

  .ProfileBoxImage {
    width: 120px;
    height: 120px;
    background-color: $containerColor;
    border-radius: 10px;
    margin-bottom: 10px;
    border: 5px solid $containerColor;
    background-position: center;
    background-size: cover;

    transition: 0.2s;
  }

  h3 {
    font-size: 14px;
    font-weight: 400;
    color: $textColor;

    transition: 0.2s;
  }

  transition: 0.2s;

  &:hover {
    cursor: pointer;

    .ProfileBoxImage {
      border: 5px solid $primaryColor;
    }

    h3 {
      color: $primaryColor;
      cursor: pointer;
    }

    transition: 0.2s;
  }
}
