@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap");

@import "./utils/theme.scss";

html,
body {
  width: 100vw;
  height: 100vh;
  max-width: 100vw;
  max-height: 100vh;
}

#root {
  width: 100vw;
  height: 100vh;
  max-width: 100vw;
  max-height: 100vh;
}
* {
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

*:focus {
  outline: none;
}

:not(input):not(textarea),
:not(input):not(textarea)::after,
:not(input):not(textarea)::before {
  -webkit-user-select: none;
  user-select: none;
}
input,
button,
textarea,
:focus {
  outline: none;
}

*,
*::after,
*::before {
  user-select: none;
  -webkit-user-select: none;
  -webkit-user-drag: none;
  -webkit-app-region: no-drag;
}

/* Let's get this party started */
*::-webkit-scrollbar {
  height: 5px;
  width: 6px;
}

/* Track */
*::-webkit-scrollbar-track {
  background: $containerColor;
  -webkit-border-radius: 10px;
  border-radius: 10px;
}

/* Handle */
*::-webkit-scrollbar-thumb {
  -webkit-border-radius: 10px;
  border-radius: 10px;
  background: #515151;
}
*::-webkit-scrollbar-thumb:window-inactive {
  background: rgba(255, 0, 0, 0.4);
}
